<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:if condition="{topPages}">
    <f:then>
        <table class="table table-sm">
            <tbody>
                <f:for each="{topPages}" as="page">
                    <tr>
                        <td class="text-truncate" style="max-width: 200px">{page.pathname}</td>
                        <td class="text-end">{page.pageviews}</td>
                    </tr>
                </f:for>
            </tbody>
        </table>
    </f:then>
    <f:else>
        <p class="text-muted">No data available</p>
    </f:else>
</f:if>

</html>
