<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="fathom-backend" href="EXT:fa4t3/Resources/Public/Css/backend.css" />

<f:if condition="{showSetup}">
    <f:then>
        <f:render partial="Backend/ErrorState" arguments="{hasApiKey: hasApiKey, hasSiteId: hasSiteId, noShareUrl: noShareUrl, setupReason: setupReason}" />
    </f:then>
    <f:else>
        <iframe src="{shareUrl}"
                class="fathom-iframe"
                title="Fathom Analytics Dashboard"
                referrerpolicy="strict-origin-when-cross-origin"
                sandbox="allow-scripts allow-same-origin allow-popups allow-forms">
        </iframe>
    </f:else>
</f:if>

</html>
