<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:if condition="{topPages}">
    <div class="card mb-4">
        <div class="card-header">
            <f:translate key="LLL:EXT:fathom_analytics/Resources/Private/Language/locallang.xlf:widget.topPages.title" />
        </div>
        <div class="table-fit">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th><f:translate key="LLL:EXT:fathom_analytics/Resources/Private/Language/locallang.xlf:table.page" /></th>
                        <th class="text-end"><f:translate key="LLL:EXT:fathom_analytics/Resources/Private/Language/locallang.xlf:table.pageviews" /></th>
                        <th class="text-end"><f:translate key="LLL:EXT:fathom_analytics/Resources/Private/Language/locallang.xlf:table.uniques" /></th>
                    </tr>
                </thead>
                <tbody>
                    <f:for each="{topPages}" as="page">
                        <tr>
                            <td>{page.pathname}</td>
                            <td class="text-end">{page.pageviews}</td>
                            <td class="text-end">{page.uniques}</td>
                        </tr>
                    </f:for>
                </tbody>
            </table>
        </div>
    </div>
</f:if>

</html>
