<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:if condition="{groupedData}">
    <div class="card mb-4">
        <div class="card-header">
            <f:translate key="LLL:EXT:fathom_analytics/Resources/Private/Language/locallang.xlf:widget.visitorTrend.title" />
        </div>
        <div class="card-body">
            <canvas id="fathom-trend-chart"
                    data-chart-data="{groupedData -> f:format.json()}"
                    height="300"></canvas>
        </div>
    </div>
</f:if>

</html>
